{% extends "base.html" %}
{% block content %}
<div class="card p-3">
  <h4>Lista de Clientes</h4>
  <a href="{% url 'agregar_cliente' %}" class="btn btn-success mb-3">+ Agregar Cliente</a>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th><th>Apellido</th><th>Correo</th><th>Tel</th><th>Ciudad</th><th>Registrado</th><th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for c in clientes %}
        <tr>
          <td>{{ c.nombre }}</td>
          <td>{{ c.apellido }}</td>
          <td>{{ c.correo_electronico }}</td>
          <td>{{ c.telefono }}</td>
          <td>{{ c.ciudad }}</td>
          <td>{{ c.fecha_registro }}</td>
          <td>
            <a class="btn btn-sm btn-info" href="{% url 'actualizar_cliente' c.pk %}">Editar</a>
            <a class="btn btn-sm btn-danger" href="{% url 'borrar_cliente' c.pk %}">Borrar</a>
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="7" class="text-center">No hay clientes</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}